
.live-setup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-gray);
  font-size: 1.5rem;
  color: var(--text-dark);
}
.live-room-wrapper {
  margin: -4rem -2rem -2rem -2rem; 
  width: calc(100% + 4rem); 
  min-height: 100vh;
  display: flex;
  background-color: var(--bg-gray);
  overflow: hidden;
  text-align: left;
}

@media (max-width: 768px) {
  .live-room-wrapper {
    margin: -1rem 0 0 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-gray);
  }
}
